button{
    min-width: 0px !important;
}

.customOverlay {
    background: rgba(36, 123, 160, 0.7);
  }
  .customModal {
    background: #b2dbbf;
    max-width: 500px;
    width: 100%;
  }

  @keyframes customEnterAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }